*{
    margin: 0 ;
    padding: 0;
}
body{
    font-family: 'Arima', cursive;
}
#head-section{
    display: flex; 
    margin: 0 auto; 
    background-repeat: no-repeat;  
    background-image: url(../img/top-banner.png);
}
.text-area{
    margin-top: 50px;
}
h1{
    font-size: 50px;
}
h4{
    font-size: 30px;
    font-style: bold;
    padding: 50px 0px;
}

p{
    font-size: 22px;
    margin-bottom: 20px;
}
.orenge_color{
    color: orange;
}
.btn-1{

background-image: linear-gradient(45deg, orange, tomato);
padding: 10px 40px;
text-decoration: none;
font-size: 20px;
border-radius: 5px;
color: aliceblue;

}

.half-s{
    width: 50%;
    padding-left: 10%;
}
/* Dream section  */
#dream-section{
    display: flex; 
    margin: 0 auto; 
    margin-top: 50px;
    background-repeat: no-repeat;  
    background-image: url(../img/dream-bg.png);
    background-position: right;
}